
# Export all names
exportPattern("^[a-zA-Z]")

# Import all packages listed as Imports or Depends
import(
  reshape,
  nlme,
  sciplot,
  plotrix,
  ICSNP,
  gdata,
  ggplot2,
  png,
  grid
)
